:root {
    --silver: #4d636f;
    --light-silver: #cccccc;
    --dark-silver: #3a4b53;
    --white: #ffffff;
    --green: #4CAF50;
    --black: #000000;
}
* {
    box-sizing: border-box;
}
html {
    font-family: "Open Sans", serif;
}
body {
    margin: 0;
}
header {
    display: flex;
    justify-content: space-between;
    color: var(--white);
    background-color: var(--silver);
    align-items: center;
}
header .mobile-btn {
    float: right;
    display: none;
}
header nav a, header button {
    color: var(--white);
    display: inline-block;
    padding: 12px 24px;
}
header nav a:first-child {
    background-color: var(--dark-silver);
    text-decoration: none;
}
header nav a:first-child i {
    margin-right: 12px;
}
header nav button {
    border: none;
    background: none;
}
header nav button span {
    background-color: var(--green);
    padding: 2px 8px;
    border-radius: 50%;
    position: absolute;
    top: 4px;
}
header nav i {
    font-size: 18px !important;
}
header nav a:hover, header nav button:hover {
    background-color: var(--light-silver);
    color: var(--black);
    cursor: pointer;
}
header nav .dropdown-submenu-box {
    display: inline-block;
}
header nav .dropdown-submenu-box:hover .drodown-submenu {
    display: block;
}
header nav .drodown-submenu {
    position: absolute;
    z-index: 1;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19);
    display: none;
}
header nav .drodown-submenu a {
    color: var(--black);
    background-color: var(--white);
    display: block;
    text-decoration: none;
}
header nav .drodown-submenu a:hover {
    background-color: var(--silver);
    color: var(--white);
}
header .log-in img {
    border-radius: 50%;
    display: block;
}
header .log-in a {
    padding: 12px 28px;
    display: block;
}
header .log-in a:hover {
    background-color: var(--light-silver);
}
#navDeom {
    display: none;
}
#navDeom a {
    display: block;
    color: var(--white);
    background-color: var(--silver);
    padding: 12px 24px;
    text-decoration: none;
}
#navDeom a:hover {
    color: var(--black);
    background-color: var(--light-silver);
}
.container {
    max-width: 1380px;
    padding: 0 10px;
    margin: 36px auto;
}
.container .col {
    float: left;
    padding: 10px;
    width: 57%;
}
.container .row:after {
    content: "";
    display: table;
    clear: both;
}
.container .row .col:first-child {
    width: 25%;
}
.container .row .col:last-child {
    width: 18%;
}
/* header nav a:first-child  */
.card {
    padding: 0.01em 16px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}
.my-profile h4,
.my-profile div {
    text-align: center;
}
.my-profile img {
    border-radius: 50%;
}
.my-profile i {
    margin-right: 16px;
    color: #607d8b ;
}
.panel {
    display: none;
}
.panel p,
.panel div {
    margin: 15px 0;
    padding: 0.15px 16px;
}
.panel img:first-child {
    margin-right: 20px;
}
.accordion-block {
    padding: 0;
}
.accordion-block button {
    color: var(--white);
    background-color: #7d97a5;
    display: block;
    width: 100%;
    padding: 8px 16px;
    border: none;
    text-align: left;
    cursor: pointer;
}
.accordion-block button i {
    margin-right: 16px;
}
.interests span {
    padding: 0 8px;
    font-size: 12px;
}
.w3-theme-d4 {
    background-color:  #303e45;
    color: #ffffff;
}
.w3-theme-d3 {
    color: #ffffff;
    background-color: #3a4b53;
} 
.w3-theme-d5 {
    color: #ffffff;
    background-color: #435761;
}
.alert-box {
    background-color: #dfe5e8;
    margin-bottom: 16px;
    padding: 0.01em 16px;
    position: relative;
}
.alert-box span {
    position: absolute;
    right: 0;
    top: 0;
    padding: 8px 16px;
    background-color: var(--light-silver);
    cursor: pointer;
}
.create-post h6 {
    opacity: 0.6;
    font-size: 16px;
    font-weight: 400;
    margin: 10px 0;
}
.create-post p {
    border: 1px solid var(--light-silver);
    padding: 8px 16px;
}
.create-post button,
.post-two-img-button-box button {
    color: var(--white);
    background-color: #607d8b;
    padding: 8px 16px;
    cursor: pointer;
    border: none;
    margin-bottom: 16px;
}
.create-post button:hover,
.post-two-img-button-box button:hover {
    color: var(--black);
    background-color: var(--light-silver)
}
.post-two-img .post-two-img-header img {
    border-radius: 50%;
}
.post-two-img .post-two-img-header {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-top: 24px;
}
.post-two-img span {
    position: absolute;
    top: 24px;
    right: 16px;
}
.post-two-img {
    position: relative;
}
.post-two-img h4 {
    font-weight: 400;
    font-size: 20px;
    margin: 0;
}
.post-two-img-box {
    display: flex;
    justify-content: space-between;
}
.post-two-img-box img {
    width: 49%;
}
.post-two-img-button-box {
    margin: 16px 0 0;
}
.post-one-img-box img {
    width: 100%;
} 
.upcoming-events {
    text-align: center;
}
.upcoming-events button {
    border: none;
    padding: 8px 16px;
    width: 100%;
    font-size: 15px;
    margin-bottom: 16px;
    cursor: pointer;
}
.upcoming-events button:hover {
    background-color: var(--light-silver);
}
.friend-request {
    text-align: center;
}
.friend-request img {
    display: block;
    margin: 0 auto;
}
.fried-request-button-box {
    margin: 16px 0;
    display: flex;
    opacity: 0.6;
}
.fried-request-button-box button {
    border: none;
    padding: 8px 16px;
    width: 50%;
    color: var(--white);
    cursor: pointer;
}

.fried-request-button-box button:first-child {
    background-color: #4CAF50;
}
.fried-request-button-box button:last-child {
    background-color: #f44336;
}
.fried-request-button-box button:hover {
    background-color: var(--light-silver);
}
.ads {
    text-align: center;
}
.ads p {
    text-transform: uppercase;
}
.bug {
    text-align: center;
    padding: 36px 0;
}
.bug i {
    font-size: 36px;
}
footer {
    background-color: #435761;
    padding: 16px;
}
footer h5 {
    margin: 10px 0;
    color: var(--white);
    font-size: 18px;
    font-weight: 400;
}
.copyright {
    background-color: #303e45;
    color: var(--white);
}
.copyright p {
    margin: 0;
    padding: 16px;
}

@media only screen and (max-width: 600px) {

    header {
        flex-direction: row-reverse;
    }
    header .mobile-btn {
        display: block;
        color: var(--white);
        background-color: var(--silver);
        font-size: 18px;
        padding: 12px 24px;
    }
    header .log-in,
    header .nav-box a,
    header nav .dropdown-submenu-box {
        display: none;
    }
    header .nav-box a:first-child {
        display: block;
    }
   .container .col, 
   .container .row .col:first-child, 
   .container .row .col:last-child {
    width: 100%;
   }
}