:root {
    --silver: #4d636f;
    --dark-silver: #3a4b53;
    --white: #ffffff;
    --green: #4CAF50;
}
* {
    box-sizing: border-box;
}
html {
    font-family: "Open Sans", serif;
}
body {
    margin: 0;
}
header {
    display: flex;
    justify-content: space-between;
    color: var(--white);
    background-color: var(--silver);
    align-items: center;
}
header nav a, header button {
    color: var(--white);
    display: inline-block;
    padding: 12px 24px;
}
header nav a:first-child {
    background-color: var(--dark-silver);
    text-decoration: none;
}
header nav a:first-child i {
    margin-right: 12px;
}
header nav button {
    border: none;
    background: none;
}
header nav button span {
    background-color: var(--green);
    padding: 2px 8px;
    border-radius: 50%;
    position: absolute;
    top: 4px;
}
header nav i {
    font-size: 18px;
}
header .log-in img {
    border-radius: 50%;
    display: block;
}
.container {
    max-width: 1380px;
    padding: 0 10px;
    margin: 0 auto;
}
.container .col {
    float: left;
    padding: 10px;
    width: 58%;
}
.container .row:after {
    content: "";
    display: table;
    clear: both;
}
.container .row .col:first-child {
    width: 25%;
}
.container .row .col:last-child {
    width: 17%;
}
/* header nav a:first-child  */
.card {
    padding: 0.01em 16px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}
.my-profile h4,
.my-profile div {
    text-align: center;
}
.my-profile img {
    border-radius: 50%;
}
.my-profile i {
    margin-right: 16px;
    color: #607d8b ;
}
.panel {
    display: none;
}
.panel p,
.panel div {
    margin: 15px 0;
    padding: 0.15px 16px;
}
.panel img:first-child {
    margin-right: 20px;
}
.accordion-block {
    padding: 0;
}
.accordion-block button {
    color: #ffffff;
    background-color: #7d97a5;
    display: block;
    width: 100%;
    padding: 8px 16px;
    border: none;
    text-align: left;
    cursor: pointer;
}
.accordion-block button i {
    margin-right: 16px;
}
.interests span {
    padding: 0 8px;
    font-size: 12px;
}
.w3-theme-d4 {
    background-color:  #303e45;
    color: #ffffff;
}
.w3-theme-d3 {
    color: #ffffff;
    background-color: #3a4b53;
} 
.w3-theme-d5 {
    color: #ffffff;
    background-color: #435761;
}
.alert-box {
    background-color: #dfe5e8;
    margin-bottom: 16px;
    padding: 0.01em 16px;
    position: relative;
}
.alert-box span {
    position: absolute;
    right: 0;
    top: 0;
    padding: 8px 16px;
    background-color: #cccccc;
    cursor: pointer;
}
.create-post h6 {
    opacity: 0.6;
    font-size: 16px;
    font-weight: 400;
    margin: 10px 0;
}
.create-post p {
    border: 1px solid #cccccc;
    padding: 8px 16px;
}
.create-post button {
    color: #ffffff;
    background-color: #607d8b;
    padding: 8px 16px;
    cursor: pointer;
    border: none;
    margin-bottom: 16px;
}
.create-post button:hover {
    color: #000000;
    background-color: #cccccc;
}